body{
    margin:0;
    padding:0;
    background-image: url('https://img.remediosdigitales.com/2bf081/mercedes-benz-amg-project-one-concept_/1366_2000.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
